* {
  background-image: url("./space.jpg");
}
.photos {
  width: 100%;
  height: 100%;
}
.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.photo1 {
  position: absolute;
  /* width: 417px;
  height: 316px;
  margin-left: 32px;
  margin-right: 50px;
  margin-top: 734px;

  box-sizing: border-box; */
  width: 417px;
  height: 316px;
  left: 32px;
  top: 734px;
  margin-left: 25px;

  box-sizing: border-box;
}
.photo2 {
  position: absolute;
  width: 418px;
  height: 316px;
  left: 511px;
  top: 734px;
  margin-left: 25px;
  box-sizing: border-box;
}
.photo3 {
  position: absolute;
  width: 417px;
  height: 316px;
  left: 991px;
  top: 734px;
  margin-left: 25px;
  box-sizing: border-box;
}
.date1 {
  /* position: absolute; */
  width: 200px;
  margin-bottom: 25px;
  height: 16px;
  left: 32px;
  top: 1083px;

  font-family: "Jockey One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  color: rgba(255, 255, 255, 0.8);

  border: 1px solid #000000;

  border: 1px solid #000000;
}
.update1 {
  /* position: absolute; */
  width: 349px;
  height: 36px;
  left: 32px;
  top: 1126px;

  font-family: "Jockey One";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 45px;
  
  color: #ffffff;
}

.update2 {
  width: 500px;
  height: 36px;
  left: 511px;
  margin-top: 1126px;
  margin-top: 25px;
  font-family: "Jockey One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 45px;

  color: #ffffff;
}

.update3 {
  width: 401px;
  height: 38px;
  left: 995px;
  margin-top: 1127px;
  margin-top: 25px;
  font-family: "Jockey One";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 45px;

  color: #ffffff;
}
.photo4 {
  position: absolute;
  width: 417px;
  height: 316px;
  left: 32px;
  top: 1263px;
  margin-left: 25px;
  box-sizing: border-box;
}
.photo5 {
  position: absolute;
  width: 418px;
  height: 316px;
  left: 511px;
  top: 1263px;
  margin-left: 25px;

  box-sizing: border-box;
}
.photo6 {
  width: 417px;
  height: 316px;
  margin-left: 920px;
  margin-top: 1150px;
  box-sizing: border-box;
}

.update4 {
  position: absolute;
  width: 450.6px;
  height: 42.75px;
  margin-left: 0px;
  margin-top: 10.25px;
  font-family: "Jockey One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 45px;
  color: #ffffff;
}
.update5 {
  position: absolute;
  width: 419.92px;
  height: 43px;
  top: 370px;

  font-family: "Jockey One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 45px;

  color: #ffffff;
}
.update6 {
  position: absolute;
  width: 400.6px;
  height: 42.75px;
  left: 1010.4px;
  top: 1633.06px;

  font-family: "Jockey One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 45px;

  color: #ffffff;
}

.downphoto6 {
  position: absolute;
  width: 100%;
  height: 224px;
  left: 0px;
  top: 1825px;
}

.gradient {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100px;
  /* left: -5px; */
  top: 2113px;
  font-size: 70px;
  color: white;
  font-family: "Jockey One", sans-serif;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(155, 185, 203, 0) 0%,
    rgba(155, 185, 203, 0) 0.01%,
    #9bb9cb 23.39%,
    #9bb9cb 69.46%,
    rgba(155, 185, 203, 0) 102.86%
  );
}
.row3 {
  position: absolute;
  width: 303px;
  height: 52px;
  left: 150px;
  top: 2308px;
  z-index: 1000000;
  background: white;
  border: 2px solid #222222;
  box-sizing: border-box;
  border-radius: 50px;
  cursor: pointer;
}
.name {
  position: absolute;
  width: 241.14px;
  height: 26px;
  left: 50px;
  top: 12px;
  background: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: black;
}

.email {
  position: absolute;
  width: 739px;
  height: 52px;
  left: 523px;
  top: 2308px;
  background: #ffffff;
  border: 2px solid #222222;
  border-radius: 50px;
}
